<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    <link rel="stylesheet" href="Style.css"> <!---Linkando o css com o html-->
</head>

<body>
    <header></header>
    <main class="apresentacao">
        <!---Separando em dois grandes elementos-->
        <section class="apresentacao__conteudo">
            <!----Titulo-->
            <h1 class="apresentacao__conteudo__titulo">Estudante de desenvolvimento de software: <strong
                    class="titulo_destaque"> Projetos Inovadores e Busca por Novos Desafios!</strong></h1>

            <!----Parágrafo-->
            <p class="apresentacao__conteudo__texto">Olá! Sou Guilherme Porto, estudante de Informática Biomédica na USP
                e desenvolvedor de software com experiência em Python, HTML, CSS e R. No momento, estou atuando no
                desenvolvimento de dois projetos: um focado em análise de dados estatísticos de séries temporais e outro
                no desenvolvimento de um software house com uma API específica para o Instagram, utilizando AWS como
                hospedagem. Busco oportunidades para atuar na área de desenvolvimento e aprimorar ainda mais minhas
                habilidades.</p>

            <!--Criando uma divisão entre os botões-->
            <div class="apresentacao__links">
                <h2 class="apresentacao__links__subtitulo">Acesse minhas redes</h2>
                <!----"Ancora",botao que leva a um hiperlink-->
                <a class="apresentacao__links__link" href="https://github.com/CaetanoPorto"> GitHub
                    <img id="imagem_linkedin_github_instagram" src="../assets/logo_github.png">
                </a>
                <a class="apresentacao__links__link" href="https://www.instagram.com/guilhermecaeporto/"> Instagram
                    <img id="imagem_linkedin_github_instagram" src="../assets/logo_instagram.png">
                </a>
                <a class="apresentacao__links__link" href="https://www.linkedin.com/in/guilherme-porto-11007a275/">
                    Linkedin
                    <img id="imagem_linkedin_github_instagram" src="../assets/logo_linkedin.png">
                </a>
            </div>

        </section>

        <img src="../assets/foto_loks_certa.jpg" height="550" width="488" alt=Foto_Guilherme_loks>

    </main>
    <footer></footer>
</body>

</html>